<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <title>...</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/nv.d3.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <script src="js/respond.min.js"></script>
  <![endif]-->
 </head>
 <body>
  <div class="container">
   <div class="row">
    <div class="col-md-12">
     <h2>Classes</h2>
    </div>
   </div>
   <div class="row">
    <div class="col-md-12">
     <h3>Logical Lines of Code (LLOC)</h3>
     <div id="classLengthDistribution" style="height: 300px;">
       <svg></svg>
     </div>
    </div>
   </div>
   <div class="row">
    <div class="col-md-12">
     <div class="scrollbox">
      <table class="table table-condensed" id="classes">
       <thead>
        <tr>
         <th>Class</th>
         <th class="text-right">Logical Lines of Code (LLOC)</th>
         <th class="text-right">Code Rank</th>
         <th class="text-right">Reverse Code Rank</th>
        </tr>
       </thead>
       <tbody>
{{classes_table}}
       </tbody>
      </table>
     </div>
    </div>
   </div>
   <div class="row">
    <div class="col-md-12">
     <h2>Methods</h2>
    </div>
   </div>
   <div class="row">
    <div class="col-md-12">
     <h3>Logical Lines of Code (LLOC)</h3>
     <div id="methodLengthDistribution" style="height: 300px;">
       <svg></svg>
     </div>
    </div>
   </div>
   <div class="row">
    <div class="col-md-12">
     <h3>Cyclomatic Complexity</h3>
     <div id="ccnDistribution" style="height: 300px;">
       <svg></svg>
     </div>
    </div>
   </div>
   <div class="row">
    <div class="col-md-12">
     <h3>NPath Complexity</h3>
     <div id="npathDistribution" style="height: 300px;">
       <svg></svg>
     </div>
    </div>
   </div>
   <div class="row">
    <div class="col-md-12">
     <div class="scrollbox">
      <table class="table table-condensed" id="methods">
       <thead>
        <tr>
         <th>Method</th>
         <th class="text-right">Logical Lines of Code (LLOC)</th>
         <th class="text-right">Cyclomatic Complexity</th>
         <th class="text-right">NPath Complexity</th>
        </tr>
       </thead>
       <tbody>
{{methods_table}}
       </tbody>
      </table>
     </div>
    </div>
   </div>
  </div>
  <script src="js/jquery.js" type="text/javascript"></script>
  <script src="js/jquery.tablesorter.min.js" type="text/javascript"></script>
  <script src="js/bootstrap.min.js" type="text/javascript"></script>
  <script src="js/holder.js" type="text/javascript"></script>
  <script src="js/d3.min.js" type="text/javascript"></script>
  <script src="js/nv.d3.min.js" type="text/javascript"></script>
  <script type="text/javascript">
  $(function(){
   $("#classes").tablesorter({ sortList: [[1,1]] });
  });
  $(function(){
   $("#methods").tablesorter({ sortList: [[1,1]] });
  });
  $(document).ready(function() {
   nv.addGraph(function() {
    var chart = nv.models.multiBarChart();
    chart.tooltips(true)
      .showControls(false)
      .showLegend(false)
      .reduceXTicks(false)
      .staggerLabels(true)
      .yAxis.tickFormat(d3.format('d'));

    d3.select('#classLengthDistribution svg')
      .datum(getClassLengthDistributionData({{class_length_values}}, "Class Length"))
      .transition().duration(500).call(chart);

    nv.utils.windowResize(chart.update);

    return chart;
   });
  });
  function getClassLengthDistributionData(data, label) {
    var labels = {{class_length_labels}};
    var values = [];
    $.each(labels, function(key) {
      values.push({x: labels[key], y: data[key]});
    });

    return [
      {
        key: label,
        values: values,
        color: "#4572A7"
      }
    ];
  }
  $(document).ready(function() {
   nv.addGraph(function() {
    var chart = nv.models.multiBarChart();
    chart.tooltips(true)
      .showControls(false)
      .showLegend(false)
      .reduceXTicks(false)
      .staggerLabels(true)
      .yAxis.tickFormat(d3.format('d'));

    d3.select('#methodLengthDistribution svg')
      .datum(getMethodLengthDistributionData({{method_length_values}}, "Method Length"))
      .transition().duration(500).call(chart);

    nv.utils.windowResize(chart.update);

    return chart;
   });
  });
  function getMethodLengthDistributionData(data, label) {
    var labels = {{method_length_labels}};
    var values = [];
    $.each(labels, function(key) {
      values.push({x: labels[key], y: data[key]});
    });

    return [
      {
        key: label,
        values: values,
        color: "#4572A7"
      }
    ];
  }
  $(document).ready(function() {
   nv.addGraph(function() {
    var chart = nv.models.multiBarChart();
    chart.tooltips(true)
      .showControls(false)
      .showLegend(false)
      .reduceXTicks(false)
      .staggerLabels(true)
      .yAxis.tickFormat(d3.format('d'));

    d3.select('#ccnDistribution svg')
      .datum(getCcnDistributionData({{ccn_values}}, "Cyclomatic Complexity"))
      .transition().duration(500).call(chart);

    nv.utils.windowResize(chart.update);

    return chart;
   });
  });
  function getCcnDistributionData(data, label) {
    var labels = {{ccn_labels}};
    var values = [];
    $.each(labels, function(key) {
      values.push({x: labels[key], y: data[key]});
    });

    return [
      {
        key: label,
        values: values,
        color: "#4572A7"
      }
    ];
  }
  $(document).ready(function() {
   nv.addGraph(function() {
    var chart = nv.models.multiBarChart();
    chart.tooltips(true)
      .showControls(false)
      .showLegend(false)
      .reduceXTicks(false)
      .staggerLabels(true)
      .yAxis.tickFormat(d3.format('d'));

    d3.select('#npathDistribution svg')
      .datum(getNpathDistributionData({{npath_values}}, "NPath Complexity"))
      .transition().duration(500).call(chart);

    nv.utils.windowResize(chart.update);

    return chart;
   });
  });
  function getNpathDistributionData(data, label) {
    var labels = {{npath_labels}};
    var values = [];
    $.each(labels, function(key) {
      values.push({x: labels[key], y: data[key]});
    });

    return [
      {
        key: label,
        values: values,
        color: "#4572A7"
      }
    ];
  }
  </script>
 </body>
</html>
